/* Dégradé du bleu clair au vert clair */
body {
    background: linear-gradient(to bottom, #4A90E2, #50E3C2);
    margin: 0;
    color: #FFFFFF;
    font-family: 'Figtree', sans-serif;
}

/* Conteneur principal qui occupe 100% de la hauteur de la fenêtre */
.app-container {
    display: flex;
    flex-direction: column;
    min-height: 100vh; /* Assurez-vous qu'il remplit toute la hauteur */
}

/* Zone de contenu principal - Permet le scroll du contenu */
.content {
    flex: 1; /* Permet au contenu de prendre tout l'espace disponible */
    overflow-y: auto; /* Active le scroll si nécessaire */
    padding-bottom: 70px; /* Assurez-vous que la navbar ne cache pas le contenu */
}

/* Navbar sticky en bas */
.navbar-bottom {
    position: sticky;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #333;
    padding: 10px 0;
    z-index: 9999;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

/* Liens de la navbar */
.navbar-link {
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    transition: color 0.3s ease;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.navbar-link:hover {
    color: #f1c40f;
}

/* Élément actif dans la navbar */
.navbar-link.active {
    color: #f1c40f;
    font-weight: bold;
}

.navbar-link.active i {
    color: #f1c40f;
}

.navbar-bottom .col {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 15px;
}

.navbar-bottom .col i {
    font-size: 24px;
    margin-bottom: 5px;
}

/* Responsive */
@media (max-width: 768px) {
    .navbar-bottom {
        justify-content: space-between;
        padding: 5px;
    }

    .navbar-bottom .col {
        margin: 0 5px;
    }

    .navbar-bottom .col:first-child,
    .navbar-bottom .col:last-child {
        margin-left: 10px;
        margin-right: 10px;
    }
}
